* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #5e6d92;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-between ;
}

header h1 {
    font-size: 1.5rem;
}

nav a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

nav a:hover{
    color:#1c283e;
}

nav a:active{
    color:#fefefe;
}

.profilepic {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.content{
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    display: flex ;
    justify-content: space-between;

}

form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#checkbox-group {
    margin-bottom: 10px;;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.form-section {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.map-section {
    width: 400px;;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: #5e6d92;
    color:white;
    justify-content: center;
}

.map-container {
    margin-left: auto;
}

#map {
  height: 100%;
}

.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background: rgb(235, 235, 235);
}

button {
    display: inline-block;
    background-color: #3e4c70;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button a {
    color: white;
    text-decoration: none;
}

button:hover {
    background-color: #6277a9;
    color:#3e4c70;
}

.logout-btn {
    display: inline-block;
    background-color: #596c9c; 
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #7fabdb;
    color:#1c283e;
}

.user-info {
    background-color: #3e4c70;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.back-btn {
    display: inline-block;
    background-color: #3e4c70;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.back-btn:hover {
    background-color: #6277a9;
}

footer {
    background-color: #7c8dab;
    color: white;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}